header {
    background-color: white;
    height:70px;
    width:100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    content:url(../images/logo.png);
    left: 20px;
}

#api_status {
  text-align: right;
  circle-diameter: 40px;
  center: vertically;
  border-right: 30px;
  background-color: #cccccc;
}

available {
	background-color: #ff545f;
}
